table,
th,
td {
  border-collapse: collapse;
}
table {
  width: 100%;
}
th {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
input {
  height: 30px;
  padding-left: 5px;
}
button {
  height: 30px;
}
.pagination_btn_wrap {
  display: flex;
  gap: 5px;
}
.pagination_btn_wrap button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: unset;
  background-color: inherit;
  font-size: 20px;
}
.pagination_btn_wrap button:hover {
  background-color: grey;
}
